/* место для вашего кода */
/* Я очень сильно попытался некостыльно сделать последние правки, если пройду проверку то хочется посмотреть на идеальное исполнение макета, на средними буквами и логотипом долго сидел */
.header {
  display: grid; 
  grid-template-columns: 1.3fr 1fr auto;
  align-items: center;
  padding: 91px 86px 96px 50px;
  font-size: 18px;
}

.header__navigation {
  display: flex;
  gap: 35px;
}

.header__navigation-item:first-child {
  list-style-type: none;
}

.header__navigation-link_decoration {
  text-decoration: none;
}

.header__navigation-logo {
  width: 145px;
  height: 105px;
}

.address__info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 18px;
  font-style: normal;
}

.title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 158px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.title__main {
  z-index: 1;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.25;
  text-transform: uppercase;
}

.tittle__main-letter_space{
  padding: 0 30px;
}

.title_main-letter_margin {
  letter-spacing: 35px;
}

.title__main-letter_first {
  letter-spacing: 36px;
}

.position__start {
  align-self: start;
  letter-spacing: 3px;
}

.position__middle {
  display: flex;
  align-self: center;
  letter-spacing: 31px;
}

.position__end {
  align-self: end;
  letter-spacing: 3px;
}

.title__bet {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  font-size: 22px;
  text-transform: uppercase;
}

.title__bet-text {
  margin-left: 28px;
  color: #fff;
  letter-spacing: normal;
  word-spacing: 19px;
}

.title__bet-button {
  border-color: #fff;
  padding: 11px 31px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 179px 24px 73px 24px;
}

.lots__title {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__more {
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  color: #fff;
  list-style-type: none;
}

.card__item {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-basis: 334px;
  align-items: stretch;
  max-width: 334px;
  height: 100%;
  min-height: 563px;
  padding: 50px 40px 48px 40px;
  background-position: center;
  background-size: cover;
}

.card__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.card__item-link {
  text-decoration: none;
}

.card__item-cover {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__item-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__item-text {
  line-height: 1.2;
}

.image__kino {
  background-image: url(../images/card-lot-01.jpg);
}

.image__book {
  background-image: url(../images/card-lot-02.jpg);
}

.image__painting {
  background-image: url(../images/card-lot-03.jpg);
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 73px 30px 90px;
}

.about__info {
  padding: 0 0 0 5px;
}

.about__info-title {
  padding: 138px 0 100px 0;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__info-text {
  margin-bottom: 24px;
  line-height: 24px;
}

.about__image {
  display: flex;
  justify-content: center;
  padding: 35px 35px 72px;
}

.about__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-right: 25px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-svg {
  width: 148px;
  height: 114px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 67px 50px 88px 50px;
}

.footer__menu {
  margin-left: 35px;
  text-align: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 47px;
  list-style-type: none;
}

.footer__social-link {
  display: flex;
  align-items: center;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}